[buildout]
extends = buildout-build-aix.cfg

[environment]
CFLAGS = -I${options:prefix}/include

[readline-environment]
LD_LIBRARY_PATH =

[openssh]
# /bin/sh written in the shebang line doesn't recognize some syntax in the configure script
configure-command = /bin/bash ./configure

[openldap]
# /bin/sh written in the shebang line doesn't recognize some syntax in the configure script
configure-command = /bin/bash ./configure

[python]
configure-command = ./configure

[gettext]
configure-options += --disable-debug --with-included-gettext --with-included-glib --with-included-libcroco --with-included-libunistring --disable-java --disable-csharp

[zeromq]
version = 3.2.3
name = zeromq
configure-options = ${options:configure-options} --disable-dependency-tracking
patches = ${:patches-dir}/${:name}-${:version}-newline.patch
    ${:patches-dir}/${:name}-${:version}-test_disconnect_inproc.cpp.patch

[python-environment]
# the libpath we set in the base aix config prevents the gcc compiler from loading properly; we change it here
LIBPATH = /usr/lib:${options:prefix}/lib
LD_LIBRARY_PATH = /usr/lib:${options:prefix}/lib
LDFLAGS = -L${options:prefix}/lib -L${options:prefix}/lib/engines -L${options:prefix}/lib/gettext -L${options:prefix}/lib/graphviz -L${options:prefix}/lib/libxslt-plugins -L${options:prefix}/lib/pkgconfig -L${options:prefix}/lib/sasl2 -Wl,-blibpath:.:../lib:${options:prefix}/lib:/usr/lib -lintl -Wl,-bbigtoc
PYTHONHOME=${options:prefix}
