[buildout]
extends = buildout-build-aix.cfg

[openssh]
# /bin/sh written in the shebang line doesn't recognize some syntax in the configure script
configure-command = /bin/bash ./configure

[openldap]
# /bin/sh written in the shebang line doesn't recognize some syntax in the configure script
configure-command = /bin/bash ./configure

[python]
configure-command = LIBPATH=/usr/lib:${options:prefix}/lib ./configure

[python-environment]
# the libpath we set in the base aix config prevents the gcc compiler from loading properly; we change it here
LIBPATH = /usr/lib:${options:prefix}/lib
LD_LIBRARY_PATH = /usr/lib:${options:prefix}/lib