[buildout]
extends = buildout-build.cfg
parts = zlib bzip2 pcre2 ncurses expat libev readline libiconv xz libxml2 libunistring libtasn1 gettext openssl pkg-config openssh gmp libgpg-error libgcrypt nettle libgnugetopt libgnutls sqlite libxslt libffi gdbm cyrus-sasl libevent openldap mpdecimal libsodium zeromq libuv c-ares python

[options]
configure-options += --host=powerpc64-ibm-aix7.3.0.0
                     --build=powerpc64-ibm-aix7.3.0.0
                     --target=powerpc64-ibm-aix7.3.0.0

[environment]
PATH = ${options:prefix}/bin:/opt/freeware/bin:/bin:/usr/bin:/sbin:/usr/sbin:/usr/ucb:/usr/bin/X11
PKG_CONFIG_PATH = ${options:prefix}/lib/pkgconfig
SHELL = /bin/bash
CONFIG_SHELL = /bin/bash
AR = ar -X64
NM = nm -B -X64
CC = gcc -Os -fPIC -maix64 -pthread
CXX = g++ -Os -fPIC -maix64 -pthread
LDFLAGS = -L${options:prefix}/lib -Wl,-blibpath:/usr/lib -Wl,-b64 -Wl,-brtl
SHARED_LDFLAGS = ${:LDFLAGS}
LIBPATH = ${options:prefix}/lib
CFLAGS = -Os -fPIC -maix64 -pthread -I${options:prefix}/include
CPPFLAGS = ${:CFLAGS}
CXXFLAGS = ${:CFLAGS}
# The *_LIBRARY_PATH definitions cause built-in executables that we run to link against our new shared objects which doesn't work
DYLD_LIBRARY_PATH =
LD_LIBRARY_PATH =
OBJECT_MODE = 64

[openssl]
openssldir = /var/ssl
configure-options = --prefix=${options:prefix}
                    --openssldir=${:openssldir}
                    --libdir=lib shared threads zlib aix64-gcc
patches = ${:patches-dir}/${:name}-${:version}-Configurations-10-main.conf.patch
          ${:patches-dir}/${:name}-${:version}-Configurations-unix-Makefile.tmpl.patch

[libffi]
configure-options += --with-gcc-arch=powerpc64-ibm-aix7.3.0.0

[libgcrypt]
configure-options += --disable-asm

[libgnutls]
environment-section = libgnutls-environment

[libgnutls-environment]
<= environment
LDFLAGS = ${environment:LDFLAGS} -lgnugetopt

[python]
<= options
environment-section = python-environment
configure-options = --prefix=${options:prefix}
                    --enable-shared
                    --enable-ipv6
                    --enable-loadable-sqlite-extensions
                    --with-dbmliborder=gdbm
                    --with-system-libmpdec
                    --with-system-expat
                    --with-system-ffi
                    --libdir=${options:prefix}/lib
                    --with-openssl=${options:prefix}
patches = ${:patches-dir}/${:name}-${:version}-pythonhome-pythonrun.c.patch
          ${:patches-dir}/${:name}-${:version}-linux-symlink.patch
          ${:patches-dir}/${:name}-${:version}-aix-shared.patch
          ${:patches-dir}/${:name}-${:version}-aix-Makefile.patch
          ${:patches-dir}/${:name}-${:version}-aix-Modules-posix-devices.patch
          ${:patches-dir}/${:name}-${:version}-Modules-Setup.patch
          ${:patches-dir}/${:name}-${:version}-setup.py.patch
          ${:patches-dir}/${:name}-${:version}-expat.patch
post-make-hook = ${options:hooks-dir}/aix.py:python_post_make

[python-environment]
<= environment
ac_cv_lib_readline_append_history = yes
ac_cv_lib_readline_rl_completion_display_matches_hook = yes
ac_cv_lib_readline_rl_completion_matches = yes
ac_cv_lib_readline_rl_pre_input_hook = yes
ac_cv_lib_readline_rl_resize_terminal = yes
CFLAGS = ${environment:CFLAGS}
# -I${options:prefix}/include/libxml2 -I${options:prefix}/include/ncurses
LDFLAGS = ${environment:LDFLAGS}
OPT = -DNDEBUG -fwrapv -Os -Wall -Wstrict-prototypes
# RUNSHARED is the env var that is used to run python during make, for example
# when building the external modules for Python like "_ctypes". The default on
# on AIX sets LIBPATH to whatever is in the environment variables already. We
# want to set LIBPATH to our lib folder for that purpose but we can't set LIBPATH
# for the entire build process because that can interfere with external binaries
# like gcc. So we have a patch in place that clears RUNSHARED so that we can
# set it here, making LIBPATH correct specifically during the "shared modules"
# build
RUNSHARED = LIBPATH=${options:prefix}/lib:.
