[buildout]
prefer-final = false
newest = false
download-cache = .cache
develop = .
parts = 

[project]
name = relocatable-python
company = Infinidat
namespace_packages = []
install_requires = ['setuptools']
version_file = src/relocatable-python/__version__.py
description = python
long_description = python
console_scripts = []
gui_scripts = []
package_data = []
upgrade_code = {4b224135-1b06-11e4-8394-84383565d680}
product_name = relocatable-python
post_install_script_name = None
pre_uninstall_script_name = None

[isolated-python]
recipe = infi.recipe.python
version = v2.7.6.7

[setup.py]
recipe = infi.recipe.template.version
input = setup.in
output = setup.py

[__version__.py]
recipe = infi.recipe.template.version
output = ${project:version_file}
input = inline:
	__version__ = "${infi.recipe.template.version:version}"
	__git_commiter_name__ = "${infi.recipe.template.version:author}"
	__git_commiter_email__ = "${infi.recipe.template.version:author_email}"
	__git_branch__ = ${infi.recipe.template.version:git_local_branch}
	__git_remote_tracking_branch__ = ${infi.recipe.template.version:git_remote_tracking_branch}
	__git_remote_url__ = ${infi.recipe.template.version:git_remote_url}
	__git_head_hash__ = ${infi.recipe.template.version:head_hash}
	__git_head_subject__ = ${infi.recipe.template.version:head_subject}
	__git_head_message__ = ${infi.recipe.template.version:head_message}
	__git_dirty_diff__ = ${infi.recipe.template.version:dirty_diff}

[development-scripts]
dependent-scripts = true
recipe = infi.recipe.console_scripts
eggs = ${project:name}
	ipython
	nose
	mock
	coverage
	pylint
	infi.unittest
	infi.traceback
	zc.buildout
interpreter = python

[eclipse]
recipe = rbco.recipe.pyeclipse
project-name = ${project:name}
project-directory = ${buildout:directory}
python-version = 2.7
source-resources = ${buildout:directory}/src

[pydev]
recipe = pb.recipes.pydev
eggs = ${development-scripts:eggs}

[pack]
recipe = infi.recipe.application_packager

[sublime]
recipe = corneti.recipes.codeintel
eggs = ${development-scripts:eggs}

