[buildout]
extends = buildout-build.cfg

parts = runtime libtool libiconv zlib bzip2 lz4 xz zstd libmd libbsd pcre2 ncurses expat readline openssl libev libxml2 libunistring libtasn1 gettext openssh gmp libgpg-error libgcrypt nettle libxslt libevent libuv libsodium libidn2 libffi tcl sqlite cyrus-sasl openldap gdbm c-ares libgnugetopt gnutls libuuid zeromq mpdecimal graphviz-bootstrap graphviz libb2 python

[options]
cflags = -pipe -O2 -fPIC -maix64
ldflags = -L${:prefix}/lib -Wl,-blibpath:/usr/lib -Wl,-b64 -Wl,-brtl -Wl,-bmaxdata:0x80000000

[environment]
PATH = ${options:prefix}/bin:${options:toolkit}/bin:/bin:/usr/bin:/sbin:/usr/sbin
LIBPATH = ${options:prefix}/lib
LDFLAGS = ${options:ldflags}
OBJECT_MODE = 64
AR = ar -X64
NM = nm -B -X64

[openssl]
openssldir = /var/ssl
target = aix64-gcc

[expat]
configure-options += --with-libbsd

[lz4]
make-options += SONAME_FLAGS=

[nettle]
configure-options += --disable-fat

# HOSTDEV-3544 AIX does not support getopt_long GNU extension
[gnutls]
environment-section = gnutls-environment
configure-options += LIBS=-lgnugetopt

[gnutls-environment]
<= environment
CFLAGS = ${environment:CFLAGS} -I${options:prefix}/include/getopt

[libuuid]
make-targets = install

[graphviz-environment]
CFLAGS = ${environment:CFLAGS} -I${options:prefix}/include/getopt
CXXFLAGS = ${environment:CFLAGS} -I${options:prefix}/include/getopt
LDFLAGS = ${environment:LDFLAGS} -lgnugetopt

[python]
patches += ${:patches-dir}/${:name}-${:version}-aix-support.patch
           ${:patches-dir}/${:name}-${:version}-aix-shared.patch

[python-environment]
LDFLAGS = ${environment:LDFLAGS} -Wl,-bbigtoc
