[buildout]
extends = buildout-build.cfg
parts = mkdir zlib xz libiconv bzip2 openssl tcl tcl-win tk tk-win sqlite3 sqlite3-win libxml2 libxslt libevent python python-win python-test

[environment-windows]
LANG = C
LC_ALL = C
LANGUAGE = C
INPUTRC =
XSystemDrive = C:
XWinDir = ${:XSystemDrive}\WINDOWS
XProgramFiles = ${:XSystemDrive}\Program Files (x86)
FrameworkDir = ${:XWinDir}\Microsoft.NET\Framework64
FrameworkVersion = v4.0.30319
WindowsSdkDir = ${:XProgramFiles}\Windows Kits\10
VSINSTALLDIR = ${:XProgramFiles}\Microsoft Visual Studio\2017\Enterprise
VCRoot = ${:VSINSTALLDIR}\VC
VCINSTALLDIR = ${:VCRoot}
NODEBUG = 1
DevEnvDir = ${:VSINSTALLDIR}\Common7\IDE
Msvc = ${:VCRoot}\Tools\MSVC\14.16.27023
XSDKVer = 10.0.17763.0
WindowsSdkInclude = ${:WindowsSdkDir}\Include\${:XSDKVer}
WindowsSdkLib = ${:WindowsSdkDir}\Lib\${:XSDKVer}
VSLIB = ${:Msvc}\lib\x64
VSBIN = ${:Msvc}\bin\Hostx64\x64
SDKBIN = ${:WindowsSdkDir}\bin\${:XSDKVer}\x64
LIB = ${:VSLIB};${:WindowsSdkLib}\um\x64;${:WindowsSdkLib}\ucrt\x64;${:PREFIX}\lib
LIBPATH = ${:FrameworkDir};${:FrameworkDir}\${:FrameworkVersion};${:VSLIB}
INCLUDE = ${:WindowsSdkInclude}\shared;${:WindowsSdkInclude}\um;${:WindowsSdkInclude}\ucrt;${:Msvc}\include;${:PREFIX}\include
CygwinBinDir = ${:XSystemDrive}\Cygwin\bin
PATH = ${:VSINSTALLDIR}\MSBuild\15.0\Bin;${:DevEnvDir};${:VSBIN};${:VSINSTALLDIR}\Common7\Tools;${:VSINSTALLDIR}\Common7\Tools\bin;${:FrameworkDir};${:FrameworkDir}\Microsoft .NET Framework 3.5 (Pre-Release Version);${:FrameworkDir}\${:FrameworkVersion};${:VCRoot}\VCPackages;${:SDKBIN};${:CygwinBinDir};${buildout:directory}\tools\python\bin;${buildout:directory}\tools\python\Scripts;${buildout:directory}\tools\cmake\bin;${:XWinDir}\system32;${:XWinDir};${:XWinDir}\System32\Wbem
PREFIX = ${options:prefix}
IIPREFIX = ${options:prefix}
MSVCDIR = ${:VSINSTALLDIR}
VCTargetsPath = ${:VSINSTALLDIR}\Common7\IDE\VC\VCTargets
TZ = 

[options]
configure-command = true
configure-options =
make-binary = nmake
make-options = -f win32/Makefile.msc
make-targets = install
environment-section = environment-windows
prefix = ${buildout:directory}\dist
hooks-dir = ${buildout:directory}\src\hooks
pre-make-hook =

[mkdir]
recipe = z3c.recipe.mkdir
paths = dist
    dist/DLLs
    dist/bin
    dist/lib
    dist/libs
    dist/include

[zlib]
<= options
recipe = hexagonit.recipe.cmmi
name = zlib
version = 1.3.1
url = ${urls:source}/${:name}-${:version}.tar.gz
patches = ${:patches-dir}/${:name}-${:version}-windows-Makefile.patch
environment-section = environment-windows
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded
make-binary = cmd
make-options = /c
make-targets = cmake --build build --config Release &&
               ctest --test-dir build --build-config Release &&
               cmake --install build --config Release

[xz]
<= options
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DBUILD_SHARED_LIBS=OFF
make-binary = cmd
make-options = /c
make-targets = cmake --build build --config Release &&
               ctest --test-dir build --build-config Release &&
               cmake --install build --config Release

[openssl]
environment-section = environment-windows
configure-options = Configure
                    --prefix=${options:prefix}
                    --libdir=lib
                    --with-zlib-include=${options:prefix}\include
                    --with-zlib-lib=${options:prefix}\lib\zlibstatic.lib
                    enable-camellia enable-seed
                    enable-rfc3779 enable-cms
                    enable-md2 enable-rc5
                    enable-ssl3 enable-ssl3-method
                    enable-weak-ssl-ciphers
                    no-shared threads zlib
                    enable-capieng
                    VC-WIN64A
make-binary = cmd
make-options = /c
make-targets = nmake all && nmake install_sw && nmake test

[libiconv]
<= options
name = libiconv
version = 1.18
url = ${urls:source}/${:name}-win-build-${:version}-p1.tar.gz
patches =
environment-section = environment-windows
configure-command = msbuild
configure-options = build-VS2017\libiconv.sln
                    /p:Configuration=Release
                    /p:Platform=x64
                    /p:WindowsTargetPlatformVersion=${environment-windows:XSDKVer}
make-binary = make
make-options = -C tests -f check-all-with-cygwin.mak bindir=../build-VS2017/x64/Release
make-targets = check
post-make-hook = ${options:hooks-dir}\windows.py:libiconv_post_make

[bzip2]
configure-command = true
make-options = -f makefile.msc PREFIX=${options:prefix}
name = bzip2
patches = ${:patches-dir}/${:name}-${:version}-windows-Makefile.patch

[tcl]
<= options
recipe = hexagonit.recipe.cmmi
name = tcl
version = 8.6.12
url = ${urls:source}/${:name}${:version}-src.tar.gz
configure-command = true
make-binary = true

[tcl-win]
<= options
recipe = hexagonit.recipe.cmmi
path = ${buildout:directory}\parts\tcl__compile__\tcl${tcl:version}\win
make-binary = nmake
make-options = -f Makefile.vc all OPTS=static,threads INSTALLDIR=${options:prefix}

[tk]
<= options
recipe = hexagonit.recipe.cmmi
name = tk
version = 8.6.12
url = ${urls:source}/${:name}${:version}-src.tar.gz
configure-command = true
make-binary = true

[tk-win]
<= options
recipe = hexagonit.recipe.cmmi
path = ${buildout:directory}\parts\tk__compile__\tk${tk:version}\win
make-binary = nmake
make-options = -f Makefile.vc all OPTS=static,threads INSTALLDIR=${options:prefix} TCLDIR=${buildout:directory}\parts\tcl__compile__\tcl${tcl:version}

[sqlite3]
<= options
recipe = hexagonit.recipe.cmmi
version = autoconf-3450100
url = ${urls:source}/sqlite-${:version}.tar.gz
configure-command = true
make-binary = true

[sqlite3-win]
<= options
recipe = hexagonit.recipe.cmmi
path = ${buildout:directory}\parts\sqlite3__compile__\sqlite-autoconf-3450100\tea\win
make-binary = nmake
make-options = -f Makefile.vc all OPTS=static,threads INSTALLDIR=${options:prefix}

[libxml2]
<= options
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DBUILD_SHARED_LIBS=OFF
                    -DLIBXML2_WITH_ZLIB=ON
                    -DLIBXML2_WITH_ICONV=ON
                    -DIconv_INCLUDE_DIR=${options:prefix}\include
                    -DIconv_LIBRARY=${options:prefix}\lib\libiconv-static.lib
                    -DZLIB_INCLUDE_DIR=${options:prefix}\include
                    -DZLIB_LIBRARY=${options:prefix}\lib\zlibstatic.lib
make-binary = cmd
make-options = /c
make-targets = cmake --build build --config Release &&
               ctest --test-dir build --build-config Release &&
               cmake --install build --config Release

[libxslt]
<= options
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DBUILD_SHARED_LIBS=OFF
                    -DLIBXSLT_WITH_CRYPTO=ON
                    -DLIBXSLT_WITH_PYTHON=OFF
                    -DLIBXSLT_WITH_THREADS=ON
                    -DLIBXML2_INCLUDE_DIRS=${options:prefix}\include\libxml2
                    -DLIBXML2_LIBRARIES=${options:prefix}\lib\libxml2s.lib
                    -DLIBXML2_WITH_ZLIB=ON
                    -DLIBXML2_WITH_ICONV=ON
                    -DIconv_INCLUDE_DIR=${options:prefix}\include
                    -DIconv_LIBRARY=${options:prefix}\lib\libiconv-static.lib
                    -DZLIB_INCLUDE_DIR=${options:prefix}\include
                    -DZLIB_LIBRARY=${options:prefix}\lib\zlibstatic.lib
make-binary = cmd
make-options = /c
make-targets = cmake --build build --config Release &&
               ctest --test-dir build --build-config Release &&
               cmake --install build --config Release

[libevent]
<= options
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DBUILD_SHARED_LIBS=OFF
                    -DOPENSSL_ROOT_DIR=${options:prefix}
                    -DZLIB_INCLUDE_DIR=${options:prefix}\include
                    -DZLIB_LIBRARY=${options:prefix}\lib\zlibstatic.lib
make-binary = cmd
make-options = /c
make-targets = cmake --build build --config Release &&
               ctest --test-dir build --build-config Release &&
               cmake --install build --config Release

[libffi]
<= options
name = libffi
# TODO use git-recipe to download directly from https://github.com/python/cpython-source-deps/tree/libffi
url = ${urls:source}/${:name}-cpython.tar.gz
make-binary = true
configure-command = true

[python]
<= options
recipe = hexagonit.recipe.cmmi
environment-section = environment-windows
name = python
version = 3.11.9
patches = ${:patches-dir}\${:name}-${:version}-windows-build.patch
          ${:patches-dir}\${:name}-${:version}-windows-home.patch
          ${:patches-dir}\${:name}-${:version}-collections.patch
configure-command = install
configure-options = --directory --verbose externals
make-binary = curl
make-options = --insecure --location --progress-bar --output externals\nuget.exe
               https://dist.nuget.org/win-x86-commandline/v6.9.1/nuget.exe
make-targets =
post-make-hook =

[python-win]
<= options
recipe = hexagonit.recipe.cmmi
path = ${buildout:directory}\parts\python__compile__\python-${python:version}
configure-command = true
make-binary = cmd
make-options = /c
make-targets = "PCbuild\build.bat -c Release -p x64 --pgo"
post-make-hook = ${options:hooks-dir}\windows.py:python_post_make

[python-test]
<= options
recipe = hexagonit.recipe.cmmi
path = ${buildout:directory}\parts\python__compile__\python-${python:version}\PCbuild\amd64
make-binary = cmd
make-options = /c
make-targets = python -m test -u all,-gui -j 4
