[buildout]
extends = buildout-build.cfg
extensions = buildout.environ
parts = zlib xz libiconv bzip2 openssl tcl tk sqlite libxml2 libxslt libevent libffi cppunit softhsm2 test

[environment-windows]
LANG = C
LC_ALL = C
LANGUAGE = C
INPUTRC =
PREFIX = ${options:prefix}
XSystemDrive = C:
XWinDir = ${:XSystemDrive}\WINDOWS
XProgramFiles = ${:XSystemDrive}\Program Files (x86)
FrameworkDir = ${:XWinDir}\Microsoft.NET\Framework64
FrameworkVersion = v4.0.30319
WindowsSdkDir = ${:XProgramFiles}\Windows Kits\10
VSINSTALLDIR = ${:XProgramFiles}\Microsoft Visual Studio\2017\Enterprise
VCRoot = ${:VSINSTALLDIR}\VC
VCINSTALLDIR = ${:VCRoot}
NODEBUG = 1
DevEnvDir = ${:VSINSTALLDIR}\Common7\IDE
Msvc = ${:VCRoot}\Tools\MSVC\14.16.27023
XSDKVer = 10.0.17763.0
WindowsSdkInclude = ${:WindowsSdkDir}\Include\${:XSDKVer}
WindowsSdkLib = ${:WindowsSdkDir}\Lib\${:XSDKVer}
VSLIB = ${:Msvc}\lib\x64
VSBIN = ${:Msvc}\bin\Hostx64\x64
SDKBIN = ${:WindowsSdkDir}\bin\${:XSDKVer}\x64
LIB = ${:VSLIB};${:WindowsSdkLib}\um\x64;${:WindowsSdkLib}\ucrt\x64;${:PREFIX}\lib
LIBPATH = ${:FrameworkDir};${:FrameworkDir}\${:FrameworkVersion};${:VSLIB}
INCLUDE = ${:WindowsSdkInclude}\shared;${:WindowsSdkInclude}\um;${:WindowsSdkInclude}\ucrt;${:Msvc}\include;${:PREFIX}\include
CygwinBinDir = ${:XSystemDrive}\Cygwin\bin
PATH = ${:PREFIX}\bin;${:VSINSTALLDIR}\MSBuild\15.0\Bin;${:DevEnvDir};${:VSBIN};${:VSINSTALLDIR}\Common7\Tools;${:VSINSTALLDIR}\Common7\Tools\bin;${:FrameworkDir};${:FrameworkDir}\Microsoft .NET Framework 3.5 (Pre-Release Version);${:FrameworkDir}\${:FrameworkVersion};${:VCRoot}\VCPackages;${:SDKBIN};${buildout:directory}\tools\python\bin;${buildout:directory}\tools\python\Scripts;${buildout:directory}\tools\cmake\bin;${buildout:directory}\tools\perl\bin;${buildout:directory}\tools\nasm;${:CygwinBinDir};${:XWinDir}\system32;${:XWinDir};${:XWinDir}\System32\Wbem
# IIPREFIX = ${options:prefix}
MSVCDIR = ${:VSINSTALLDIR}
VCTargetsPath = ${:VSINSTALLDIR}\Common7\IDE\VC\VCTargets
PYTHON = ${buildout:directory}\tools\python\bin\python.exe

[options]
configure-command = true
configure-options =
make-binary = true
make-options =
make-targets =
environment-section = environment-windows
dist = ${buildout:directory}\dist
prefix = ${buildout:directory}\prefix
hooks = ${buildout:directory}\src\hooks
pre-make-hook =

[zlib]
<= options
recipe = hexagonit.recipe.cmmi
name = zlib
version = 1.3.2
url = ${urls:source}/${:name}-${:version}.tar.gz
patches = ${:patches-dir}/${:name}-${:version}.patch
environment-section = environment-windows
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreadedDLL
                    -DZLIB_BUILD_SHARED=ON
                    -DZLIB_BUILD_STATIC=OFF
make-binary = cmd
make-options = /c
make-targets = "cmake --build build --config Release &&
                cmake --install build --config Release &&
                ctest --test-dir build --build-config Release"

[xz]
<= options
recipe = hexagonit.recipe.cmmi
name = xz
version = 5.8.3
url = ${urls:source}/${:name}-${:version}.tar.gz
environment-section = environment-windows
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreadedDLL
                    -DBUILD_SHARED_LIBS=ON
make-binary = cmd
make-options = /c
make-targets = "cmake --build build --config Release &&
                cmake --install build --config Release &&
                ctest --test-dir build --build-config Release"

[openssl]
<= options
recipe = hexagonit.recipe.cmmi
name = openssl
version = 1.1.1zh
url = ${urls:source}/${:name}-${:version}.tar.gz
patches = ${:patches-dir}/${:name}-${:version}.patch
environment-section = environment-windows
configure-options = Configure
                    --prefix=${options:prefix}
                    --libdir=lib
                    --with-zlib-include=${options:prefix}\include
                    --with-zlib-lib=${options:prefix}\lib\z.lib
                    enable-camellia enable-seed
                    enable-rfc3779 enable-cms
                    enable-md2 enable-rc5
                    enable-ssl3 enable-ssl3-method
                    enable-weak-ssl-ciphers
                    shared threads zlib
                    no-capieng no-dynamic-engine
                    VC-WIN64A
make-binary = cmd
make-options = /c
make-targets = "nmake all && nmake install_sw && nmake test"

[libiconv]
<= options
recipe = hexagonit.recipe.cmmi
name = libiconv
version = 1.19
url = ${urls:source}/${:name}-win-build-${:version}.tar.gz
patches =
environment-section = environment-windows
configure-command = msbuild
configure-options = build-VS2017\libiconv.sln
                    /p:Configuration=Release
                    /p:Platform=x64
                    /p:WindowsTargetPlatformVersion=${environment-windows:XSDKVer}
make-binary = make
make-options = -C tests -f check-all-with-cygwin.mak bindir=../build-VS2017/x64/Release
make-targets = check
post-make-hook = ${options:hooks}\unix.py:libiconv

[bzip2]
<= options
recipe = hexagonit.recipe.cmmi
name = bzip2
version = 1.0.8
url = ${urls:source}/${:name}-${:version}.tar.gz
patches = ${:patches-dir}/${:name}-${:version}.patch
environment-section = environment-windows
configure-command = true
make-binary = cmd
make-options = /c
make-targets = "nmake -f makefile.msc PREFIX=${options:prefix} all install test"

[tcl]
<= options
recipe = hexagonit.recipe.cmmi
name = tcl
version = 8.6.18
url = ${urls:source}/${:name}${:version}-src.tar.gz
patches = ${:patches-dir}/${:name}-${:version}.patch
environment-section = environment-windows
configure-command = true
make-binary = cmd
make-options = /c
make-targets = "cd win &&
                nmake -f makefile.vc
                INSTALLDIR=${options:prefix}
                ZLIBINCDIR=${options:prefix}\include
                ZLIBLIB=${options:prefix}\lib\z.lib
                release &&
                nmake -f makefile.vc
                INSTALLDIR=${options:prefix}
                ZLIBINCDIR=${options:prefix}\include
                ZLIBLIB=${options:prefix}\lib\z.lib
                install test"

[tk]
<= options
recipe = hexagonit.recipe.cmmi
name = tk
version = 8.6.18
url = ${urls:source}/${:name}${:version}-src.tar.gz
environment-section = environment-windows
configure-command = true
make-binary = cmd
make-options = /c
make-targets = "cd win &&
                nmake -f makefile.vc
                INSTALLDIR=${options:prefix}
                TCLDIR=${buildout:directory}\parts\tcl__compile__\tcl${tcl:version}
                release &&
                nmake -f makefile.vc
                INSTALLDIR=${options:prefix}
                TCLDIR=${buildout:directory}\parts\tcl__compile__\tcl${tcl:version}
                install"

[environment-sqlite]
<= environment-windows
TZ = UTC

[sqlite]
<= options
recipe = hexagonit.recipe.cmmi
name = sqlite
version = 3530400
url = ${urls:source}/sqlite-src-${:version}.zip
patches = ${:patches-dir}/${:name}-${:version}.patch
environment-section = environment-sqlite
configure-command = true
configure-options =
make-binary = cmd
make-options = /c
make-targets = "nmake -f Makefile.msc
                USE_ZLIB=1
                BUILD_ZLIB=0
                ZLIBDIR=${options:prefix}
                ZLIBINCDIR=${options:prefix}\include
                ZLIBLIBDIR=${options:prefix}\lib
                ZLIBLIB=${options:prefix}\lib\z.lib
                TCLDIR=${options:prefix}
                TCLVERSION=86
                TCLSUFFIX=t
                INSTALLDIR=${options:prefix}
                all dll tcltest &&
                xcopy /f /i /v /y sqlite3.h ${options:prefix}\include &&
                xcopy /f /i /v /y sqlite3ext.h ${options:prefix}\include &&
                xcopy /f /i /v /y sqlite3.dll ${options:prefix}\bin &&
                xcopy /f /i /v /y sqlite3.lib ${options:prefix}\lib"

[libxml2]
<= options
recipe = hexagonit.recipe.cmmi
version = 2.15.3
name = libxml2
url = ${urls:source}/${:name}-v${:version}.tar.gz
patches = ${:patches-dir}/${:name}-${:version}.patch
environment-section = environment-windows
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreadedDLL
                    -DBUILD_SHARED_LIBS=ON
                    -DLIBXML2_WITH_ZLIB=ON
                    -DLIBXML2_WITH_ICONV=ON
                    -DIconv_INCLUDE_DIR=${options:prefix}\include
                    -DIconv_LIBRARY=${options:prefix}\lib\libiconv.lib
                    -DZLIB_INCLUDE_DIR=${options:prefix}\include
                    -DZLIB_LIBRARY=${options:prefix}\lib\z.lib
make-binary = cmd
make-options = /c
make-targets = "cmake --build build --config Release &&
                cmake --install build --config Release &&
                ctest --test-dir build --build-config Release"

[libxslt]
<= options
recipe = hexagonit.recipe.cmmi
version = 1.1.45
name = libxslt
url = ${urls:source}/${:name}-${:version}.tar.xz
environment-section = environment-windows
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreadedDLL
                    -DBUILD_SHARED_LIBS=ON
                    -DLIBXSLT_WITH_CRYPTO=ON
                    -DLIBXSLT_WITH_PYTHON=OFF
                    -DLIBXSLT_WITH_THREADS=ON
                    -DLIBXML2_INCLUDE_DIRS=${options:prefix}\include\libxml2
                    -DLIBXML2_LIBRARIES=${options:prefix}\lib\libxml2.lib
                    -DLIBXML2_WITH_ZLIB=ON
                    -DLIBXML2_WITH_ICONV=ON
make-binary = cmd
make-options = /c
make-targets = "cmake --build build --config Release &&
                cmake --install build --config Release &&
                ctest --test-dir build --build-config Release"

[libevent]
<= options
recipe = hexagonit.recipe.cmmi
name = libevent
version = 2.1.13
url = ${urls:source}/${:name}-${:version}-stable.tar.gz
patches = ${:patches-dir}/${:name}-${:version}.patch
environment-section = environment-windows
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreadedDLL
                    -DBUILD_SHARED_LIBS=ON
                    -DEVENT__DISABLE_REGRESS=ON
                    -DOPENSSL_ROOT_DIR=${options:prefix}
                    -DOPENSSL_CRYPTO_LIBRARY=${options:prefix}\lib\crypto.lib
                    -DOPENSSL_SSL_LIBRARY=${options:prefix}\lib\ssl.lib
                    -DZLIB_INCLUDE_DIR=${options:prefix}\include
                    -DZLIB_LIBRARY=${options:prefix}\lib\z.lib
make-binary = cmd
make-options = /c
make-targets = "cmake --build build --config Release &&
                cmake --install build --config Release &&
                ctest --test-dir build --build-config Release"

[libffi]
<= options
recipe = hexagonit.recipe.cmmi
name = libffi
version = 3.7.1
url = ${urls:source}/${:name}-${:version}.tar.gz
patches = ${:patches-dir}/${:name}-${:version}.patch
environment-section = environment-windows
configure-command = bash
configure-options = configure
                    --prefix=${__environ__:PWD}/prefix
                    --disable-docs
                    --disable-static
                    --enable-shared
                    --disable-multi-os-directory
                    --build="x86_64-w64-mingw32"
                    --host="x86_64-w64-mingw32"
                    CONFIG_SHELL="bash"
                    SHELL="bash"
                    CC="../msvcc.sh -m64"
                    CXX="../msvcc.sh -m64"
                    LD="link"
                    LDFLAGS="-no-undefined -avoid-version"
                    CPP="cl -nologo -EP"
                    CXXCPP="cl -nologo -EP"
                    CPPFLAGS="-DFFI_BUILDING_DLL"
                    RANLIB="true"
                    STRIP="true"
make-binary = make
make-options = V=1
make-targets = all install check
post-make-hook = ${options:hooks}\unix.py:libffi

[cppunit]
<= options
recipe = hexagonit.recipe.cmmi
name = cppunit
version = 1.15.1
url = ${urls:source}/${:name}-${:version}.tar.gz
patches = ${:patches-dir}/${:name}-${:version}.patch
pre-configure-hook =
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreadedDLL
                    -DBUILD_SHARED_LIBS=ON
                    -DBUILD_TESTING=ON
make-binary = cmd
make-options = /c
make-targets = "cmake --build build --config Release &&
                cmake --install build --config Release &&
                ctest --test-dir build --build-config Release"

[softhsm2]
<= options
recipe = hexagonit.recipe.cmmi
name = SoftHSMv2
version = 2.7.0
url = ${urls:source}/${:name}-${:version}.tar.gz
patches = ${:patches-dir}/${:name}-${:version}.patch
environment-section = environment-windows
pre-configure-hook =
configure-command = cmake
configure-options = -A x64 -B build
                    -DCMAKE_INSTALL_PREFIX=${options:prefix}
                    -DCMAKE_INSTALL_SYSCONFDIR=etc
                    -DCMAKE_INSTALL_LOCALSTATEDIR=var
                    -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreadedDLL
                    -DBUILD_SHARED_LIBS=ON
                    -DZLIB_INCLUDE_DIR=${options:prefix}\include
                    -DZLIB_LIBRARY=${options:prefix}\lib\z.lib
                    -DOPENSSL_ROOT_DIR=${options:prefix}
                    -DOPENSSL_INCLUDE_DIR=${options:prefix}\include
                    -DOPENSSL_SSL_LIBRARY=${options:prefix}\lib\ssl.lib
                    -DOPENSSL_CRYPTO_LIBRARY=${options:prefix}\lib\crypto.lib
                    -DWITH_CRYPTO_BACKEND=openssl
                    -DWITH_OBJECTSTORE_BACKEND_DB=ON
                    -DDISABLE_NON_PAGED_MEMORY=ON
                    -DBUILD_TESTS=ON
                    -DWITH_MIGRATE=OFF
                    -DENABLE_EDDSA=ON
                    -DENABLE_STATIC=OFF
                    -DENABLE_P11_KIT=OFF
make-binary = cmd
make-options = /c
make-targets = "cmake --build build --config Release &&
                cmake --install build --config Release &&
                ctest --test-dir build --build-config Release --verbose"

[test]
<= options
recipe = hexagonit.recipe.cmmi
name = python
version = 3.11.15
url = ${urls:source}/Python-${:version}.tgz
patches = ${:patches-dir}/${:name}-${:version}-windows-dist.patch
          ${:patches-dir}/${:name}-${:version}-windows-home.patch
          ${:patches-dir}/${:name}-${:version}-windows-path.patch
          ${:patches-dir}/${:name}-${:version}-windows-test.patch
environment-section = environment-windows
configure-command = cmd
configure-options = /c PCbuild\build.bat --pgo -c Release -p x64 -X ${options:prefix}
make-binary = cmd
make-options = /c
make-targets = "PCbuild\rt.bat -q -p x64 -j 1 -v &&
               PCbuild\amd64\python.exe -m PC.layout
               --copy ${options:dist}
               --preset-default
               --arch amd64 &&
               xcopy /f /i /v /y ${options:prefix}\bin\*.dll ${options:dist}\DLLs &&
               xcopy /f /i /v /y ${options:prefix}\lib\*.dll ${options:dist}\DLLs &&
               xcopy /f /i /v /y ${options:prefix}\lib\*.lib ${options:dist}\libs &&
               xcopy /f /i /s /v /y ${options:prefix}\include\* ${options:dist}\include"
